
/* Your CSS Code here. */
.container {
    text-align: center;
    margin: 50px auto;
}

.moviePic {
	width: auto;
	height: 300px;
	opcaity: 0.9;
}
.movieDetail {
	position: relative;
	top: 10px;
	width: 80%;
	text-align: center;
	font-size: 18px;
}